.wrapperAnn{

    background: #2f4261;
    text-align: right;
    padding: 4px;
    margin: none;
    background-position: center;
    background-size: auto;
    color: whitesmoke;
}

.marquee {
    all:revert;
    white-space: nowrap;
    animation: rightThenLeft 20s linear;
    animation-iteration-count: infinite;
    padding: none;
    margin: none;
    font-size: 2vw;
}

@media screen and (min-width: 601px) {
    .marquee {
      font-size: medium;
    }
  }
  
  @media screen and (max-width: 600px) {
    .marquee {
      font-size: small;
    }
  }

@keyframes rightThenLeft {
    0%   {margin-right:0;}
    50%  {margin-right:100%;}
    100% {margin-right:0;}
}