.wrapperAnn{

    background: #42526C;
    text-align: right;
    padding: 5px;
    margin: none;
    background-position: center;
    background-size: auto;
    color: whitesmoke;
}

.marquee {
    all:revert;
    white-space: nowrap;
    animation: rightThenLeft 20s linear;
    animation-iteration-count: infinite;
    padding: none;
    margin: none;
    font-size: medium;
}

@keyframes rightThenLeft {
    0%   {margin-right:0;}
    50%  {margin-right:100%;}
    100% {margin-right:0;}
}