.wrapperAnn{
    background: rgb(111, 112, 179);
    text-align: right;
    padding: none;
    margin: none;
    background-image: url("/images/ann.jpg");
    background-position: center;
    background-size: contain;
}

.marquee {
    all:revert;
    white-space: nowrap;
    animation: rightThenLeft 24s linear;
    animation-iteration-count: infinite;
    padding: none;
    margin: none;
    font-weight: bold;
    font-size: medium;
    color: black;
}

@keyframes rightThenLeft {
    0%   {margin-right:0;}
    50%  {margin-right:100%;}
    100% {margin-right:0;}
}