.nav-container {
    background-color:#008080 ;
    display: flex;
    padding: 15px;
    margin: 0;
    font-size: 15px;
    width: 100%;
}
.navbar-nav > li{
    padding-left:5px;
    padding-right:15px;
  }

nav .navbar-nav li a{
    color: whitesmoke !important;
    font-family: 'Muli';
}

nav .navbar-nav li a:hover {
    background-color:#006060;
    color: #42526C;	
    padding: 10px;
    border-radius:16px;
}


    .wave-container {
        position: relative;
        background: #fff;
        color: #FFF;
        text-align: center;
        overflow: hidden;
        height: 500px;
        margin-bottom: 0;
        padding: 0;

        .address-text {
            font-size: 15px;
            text-align: right;
            color: black;
            font-family: 'Muli';
            font-weight: bold;
        }
    
      }




