
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap');

.card {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    position : relative;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;

    .card-header {
        background-color: white;
        font-size:30px ;
        color: #008080;
        padding: 10px;
        margin-bottom:5px;
        font-family: 'Playfair Display', serif;
        
    }

    .card-body {
        padding: 10px;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        background-color: #f4f6f7;
        height: auto;
        width: 100%;
        border-radius: 18px;
    }

    .submission{
        margin-bottom: 8px;
    }
}